<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../static/readmore.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="devs">
            <h2 class="title">Created By</h2>
            <div class="grid">
                <div class="amey">
                    <img src="../media/amey.jpg" alt="amey" />
                    <h3>Amey Shembade</h3>
                    <h4>Full Stack Developer</h4>
                    <p>A Full Stack Web Developer with nack of Problem Solving</p>
                    <div class="icons">
                        <a target="_blank" href="https://www.linkedin.com/in/amey-shembade-975114237/"><i class="icon-1 fa-brands fa-linkedin fa-2xl"></i></a>
                        <a target="_blank" href="https://github.com/AmeyShembade2511"><i class="icon-1 fa-brands fa-github fa-2xl"></i></a>
                    </div>
                </div>
                <div class="aditya">
                    <img src="../media/aditya.jfif" alt="aditya" />
                    <h3>Aditya More</h3>
                    <h4>Front End Developer</h4>
                    <p>A Web Developer with a passion for programming</p>
                    <div class="icons">
                        <a target="_blank" href="https://www.linkedin.com/in/aditya-more-9a095422a/"><i class="icon-1 fa-brands fa-linkedin fa-2xl"></i></a>
                        <a target="_blank" href="https://github.com/AdityaMore7000"><i class="icon-1 fa-brands fa-github fa-2xl"></i></a>
                    </div>
                </div>
                <div class="aditya">
                    <img src="../media/aditya.jfif" alt="aditya" />
                    <h3>Aditya More</h3>
                    <h4>Front End Developer</h4>
                    <p>A Web Developer with a passion for programming</p>
                    <div class="icons">
                        <a target="_blank" href="https://www.linkedin.com/in/aditya-more-9a095422a/"><i class="icon-1 fa-brands fa-linkedin fa-2xl"></i></a>
                        <a target="_blank" href="https://github.com/AdityaMore7000"><i class="icon-1 fa-brands fa-github fa-2xl"></i></a>
                    </div>
                </div>
                <div class="aditya">
                    <img src="../media/aditya.jfif" alt="aditya" />
                    <h3>Aditya More</h3>
                    <h4>Front End Developer</h4>
                    <p>A Web Developer with a passion for programming</p>
                    <div class="icons">
                        <a target="_blank" href="https://www.linkedin.com/in/aditya-more-9a095422a/"><i class="icon-1 fa-brands fa-linkedin fa-2xl"></i></a>
                        <a target="_blank" href="https://github.com/AdityaMore7000"><i class="icon-1 fa-brands fa-github fa-2xl"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>